/.vscode
/ArduinoYJavaCodigo_Nelson_Castiblanco.rar
/build
/Codigo_Nelson_Castiblanco
/dist
/Fade
/IR_Decode
/IR_Receiver
/libraries
/MFRC522-1.4.10
/MFRC522-1.4.10.zip
/MotorCarV2
/motores
/Music
/NFC
/PanamaHitek_Arduino-master
/PanamaHitek_Arduino-master.zip
/Rele
/Reloj
/Resistencia
/Robot_Ultrasonico
/Servo_Joycon
/StepMotor
/TempSensor
/Test_Ultrasonic
/Water_Sensor
/WriteLCD